# Credenciais do Banco de Dados (usadas pelo Docker)
POSTGRES_USER="seu_usuario_aqui"
POSTGRES_PASSWORD="sua_senha_super_secreta"
POSTGRES_DB="salgado_care"

# String de conexão com o PostgreSQL local via Docker (para desenvolvimento na sua máquina)
# Lembre-se de substituir 'seu_usuario_aqui' e 'sua_senha_super_secreta' pelos valores configurados acima.
DATABASE_URL="postgres://seu_usuario_aqui:sua_senha_super_secreta@localhost:5002/salgado_care"

# Porta do servidor da API REST
PORT=3001

# URL do Frontend autorizada no CORS
FRONTEND_URL="http://localhost:3000"

# Chave secreta para geração de tokens JWT
JWT_SECRET="sua_chave_secreta_jwt_aqui"
